@{
    ViewData["Title"] = "Home Page";
}

<h1>Eventos Guatoc</h1>
<p>La mejor plataforma de organizacion de eventos</p><br><br>
<hr />
<p>Trabajamos bajo los mas atos Estandares de Calidad para hacer de tu evento un momento memorable en tu vida</p><br><br>
<hr />
<h1>Sobre Nosotros</h1>
<p>La mejor plataforma de organizacion de eventos, Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, consectetur nobis. Tenetur a omnis, voluptates minima tempore facere in dignissimos ipsum error voluptatibus, iusto deserunt consequatur impedit, dolores eius tempora?</p><br><br>
<hr />
<div class="row">
    <div class="col-md-3">
        <h2>Eventos Guatoc</h2>
        <ul>
            <li>Realizado por: Yeison Calderon</li>
            <li>Con el apoyo de Vivelab</li>
            <li>Sena</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Contacto</h2>
        <ul>
            <li><a href="https://www.google.com/intl/es-419/gmail/about/"><p class="text-white"><i class="fas fa-envelope"></i> EventosGuatocofficial@gmail.com</p></a></li>
            <li>
            <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i>EventosGuatocOfficial</a></li>
            <li><a href="https://es-la.facebook.com/"><i class="fab fa-facebook-f"></i>EventosGuatoc</a></li>
            <li><a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i>EventosGuatoc</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Empresas Vinculadas</h2>
        <ul>
            <li>Restaurante Son Arrieros</li>
            <li>Club Valle de Tenza</li>
            <li>Club Social Guatoc</li>
            <li>Licorera Monserrate</li>
            <li>Felipe Ortega Producciones</li>
            <li>Diego Garcia Fotografia</li>
        </ul>
    </div>
</div>
